/* regole generali */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
div{
  padding-bottom: 20px;
}
img{
  height: 200px;
}
/* background color */
.grey{
  background-color: #f9f9f9;
}
.bottom img {
    background-color:#428bca;
    border-radius:50%;
    padding:30px
}
/* media query  */
@media screen and (min-width:993px){
  #titolo{
    padding-top: 150px;
  }
}
@media screen and (max-width:420px){
  img{
    width: 40%;
    height: auto;
  }
}
